{% extends 'base.html' %}

{% block content %}
<div >

        <div style="padding: 20px; max-width: 1200px ; margin: 0 auto;  ">
            <div style="text-align: center; max-width: 1200px; margin: 0 auto; ">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="city"
                    placeholder="Enter city name"
                    style="padding: 10px; width: 200px; margin-right: 10px; margin-top: 0px;margin-bottom:0; border-radius: 6px">
                    <button
                    type="submit"
                    style="padding: 10px 20px; background-color: #007bff; color: white; border: none; cursor: pointer; border-radius: 6px;">
                    Add City
                </button>
            </form>
        </div>
    </div>
    
    
    <div>
        <!--Weather cards containers-->
        <div style="display: grid; grid-template-columns: repeat(auto-fit,minmax(250px,  1fr)); gap: 15px ; ">
            
            {% for weather in weather_data  %}
            <div style="background-color:#ffebee; border: 1px solid #aaa3a39b; padding: 20px; border-radius: 5px; color: black;box-shadow: 0 5px 10px rgba(0,0,0,0.25); text-align: center;">
                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="weather icon" 
                style="width: 70px; margin-bottom: 10px;">
                <h3 style="margin: 10px 0;color: #9a0002;font-size: 18px;">
                    {{weather.city}}
                </h3>
                <div style="font-size: 24px;color: #9a0002; margin: 10px 0;">{{weather.temperature }}°C</div>
                <p style="color: #9a0002;font-size: 18px;">{{weather.description}}</p>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
    
    
    {% endblock content %}
    